*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.aider*
.env
release
.next
node_modules
composeApp/src/androidMain/assets/open-source-licenses.html
composeApp/src/iosMain/resources/open-source-licenses.html
composeApp/src/commonMain/composeResources/files/open-source-licenses.md